.list-social {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-inline-start: -1rem;
}

.list-social__link {
  position: relative;
  z-index: 1;
  background: none;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 4rem;
  height: 4rem;
  transition-property: color;
}

.list-social__link::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-color: rgb(var(--color-link));
  transform: scale(0);
  transition: transform var(--duration-default) ease;
}

@media screen and (hover: hover) {
  .list-social__link:hover {
    color: rgb(var(--color-background));
  }

  .list-social__link:hover::after {
    transform: scale(1);
  }
}

.list-social__link .icon {
  margin: 0;
}
