body:not(.facet-drawer--open, .facet-drawer--opening, .facet-drawer--closing) .shopify-section-header.shopify-section-header-sticky:not(.shopify-section-header-hidden) + .transition-content .shopify-section-filters-sticky {
  opacity: 0;
  transition-property: transform, opacity;
}

.shopify-section-filters-sticky {
  z-index: 90;
  transition: opacity var(--duration-default) ease;
}

.shopify-section-filters-sticky > .page-width::after {
  content: '';
  position: absolute;
  right: 1.5rem;
  bottom: 0;
  left: 1.5rem;
  z-index: -2;
  height: 2rem;
  border-radius: 100%;
  box-shadow: 0 0 4rem rgba(var(--color-foreground), 0.2);
}

@media(min-width: 1280px) {
  .shopify-section-filters-sticky:not(.is--vertical-top) > .page-width::after {
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    border-radius: 0;
    box-shadow: 0 0 4rem rgba(var(--color-foreground), 0.2);
  }
}