.menu-mobile--open,
.menu-mobile--opening,
.menu-mobile--closing {
  overflow: hidden;
}

.menu-mobile--open .transition-content,
.menu-mobile--opening .transition-content,
.menu-mobile--closing .transition-content,
.menu-mobile--open .header-wrapper,
.menu-mobile--opening .header-wrapper,
.menu-mobile--closing .header-wrapper,
.menu-mobile--open .announcement-bar,
.menu-mobile--opening .announcement-bar,
.menu-mobile--closing .announcement-bar {
  padding-inline-end: var(--scrollbar-width);
}

.menu-mobile--open .shopify-section-header-sticky,
.menu-mobile--opening .shopify-section-header-sticky,
.menu-mobile--closing .shopify-section-header-sticky {
  min-height: var(--header-bottom-position);
}

@media screen and (min-width: 750px) {
  .menu-mobile--open #MainContent,
  .menu-mobile--open .shopify-section-footer,
  .menu-mobile--opening #MainContent,
  .menu-mobile--opening .shopify-section-footer {
    transform: translateX(4rem);
  }
}

.menu-mobile--open .menu-drawer-container summary.header__icon--menu::after,
.menu-mobile--opening .menu-drawer-container summary.header__icon--menu::after {
  opacity: 1;
  pointer-events: visible;
}

@media screen and (min-width: 750px) {
  .menu-mobile--open .transition-body::after,
  .menu-mobile--opening .transition-body::after {
    opacity: 1;
    pointer-events: visible;
  }

  .menu-mobile--open .shopify-section-announcement-bar,
  .menu-mobile--opening .shopify-section-announcement-bar,
  .menu-mobile--closing .shopify-section-announcement-bar {
    position: relative;
    z-index: 100;
  }

  .menu-mobile--open .shopify-section-header:not(.shopify-section-header-sticky),
  .menu-mobile--opening .shopify-section-header:not(.shopify-section-header-sticky),
  .menu-mobile--closing .shopify-section-header:not(.shopify-section-header-sticky) {
    position: relative;
    z-index: 99;
  }
}

@media screen and (max-width: 749px) {
  .menu-mobile--open .shopify-section-header:not(.shopify-section-header-sticky) .header-wrapper,
  .menu-mobile--opening .shopify-section-header:not(.shopify-section-header-sticky) .header-wrapper,
  .menu-mobile--closing .shopify-section-header:not(.shopify-section-header-sticky) .header-wrapper {
    z-index: 30;
    overflow: hidden;
  }

  .menu-mobile--open drawer-close-button.header__icon--menu::after {
    transform: scale(1);
    transition-delay: var(--duration-long);
  }
}

.menu-mobile--open .shopify-section-header-hidden {
  transform: none;
}

.menu-drawer {
  position: fixed;
  transform: translateX(-100%);
  visibility: hidden;
  z-index: 100;
  left: 0;
  top: 0;
  width: calc(100% - 4rem);
  padding: 0;
  background-color: rgb(var(--color-background));
  overflow-x: hidden;
}

.js .menu-drawer {
  height: 100%;
}

.js .shopify-section-header-sticky.shopify-section-header-hidden .menu-drawer {
  height: 100vh;
}

.js details[open] > .menu-drawer,
.js details[open] > .menu-drawer__submenu {
  transition-property: transform, visibility;
  transition-duration: var(--duration-long);
  transition-timing-function: ease;
}

.no-js details[open] > .menu-drawer,
.js details[open].menu-opening > .menu-drawer,
details[open].menu-opening > .menu-drawer__submenu {
  transform: translateX(0);
  visibility: visible;
}

.menu-drawer-container summary.header__icon--menu::after {
  content: '';
  display: block;
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: url(cross.svg), url(cross.png), zoom-out;
  pointer-events: none;
  transition: opacity var(--duration-long) ease;
  background-color: rgba(var(--color-overlay), 0.5);
}

@media screen and (min-width: 750px) {
  .menu-drawer {
    position: absolute;
    width: 45rem;
    top: 100%;
    border: 0.1rem solid rgb(var(--color-border));
    border-inline-start: 0;
  }

  .js .menu-drawer {
    border: none;
    border-top: 0.1rem solid rgb(var(--color-border));
    height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
  }

  .no-js .menu-drawer {
    height: auto;
  }

  .menu-drawer-container summary.header__icon--menu::after {
    content: none;
  }
}

.menu-drawer__inner-container {
  position: relative;
  height: 100%;
}

.menu-drawer__navigation-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
}

.menu-drawer__navigation {
  flex: 1 1 auto;
  overflow-x: hidden;
  margin-top: 6rem;
  border-top: 0.1rem solid rgb(var(--color-border));
}

.menu-drawer__menu {
  padding-inline-start: 2rem;
}

@media screen and (min-width: 750px) {
  .menu-drawer__menu {
    padding-inline-start: 3rem;
  }

  .menu-drawer__navigation {
    margin-top: 0;
    border-top: 0;
  }
}

.menu-drawer__inner-submenu {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.menu-drawer__inner-submenu .menu-drawer__menu-item {
  font-size: 1.6rem;
  padding: 1rem 0;
}

.no-js .menu-drawer__navigation {
  padding: 0;
}

.no-js .menu-drawer__submenu ul {
  border-bottom: 0.1rem solid rgb(var(--color-border));
}

.menu-drawer__menu-item {
  font-family: var(--font-navigation-family);
  flex: 0 0 100%;
  font-size: 1.8rem;
  padding: 1.5rem 0;
  text-decoration: none;
  color: rgb(var(--color-link));
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid rgb(var(--color-border));
}

.menu-drawer__menu > li:last-child > .menu-drawer__menu-item,
.menu-drawer__menu > li:last-child > details > summary > .menu-drawer__menu-item {
  border-bottom: 0;
}

.no-js .menu-drawer__menu-item {
  font-size: 1.6rem;
}

.no-js .menu-drawer__submenu .menu-drawer__submenu .menu-drawer__menu-item {
  padding-inline-start: 9rem;
}

.no-js .menu-drawer__menu-item .icon-caret {
  right: 3rem;
}

.js .menu-drawer__menu-item .icon-caret,
.no-js .menu-drawer .icon-arrow {
  display: none;
}

.menu-drawer .icon-arrow {
  height: 1.5rem;
  width: 1.5rem;
  margin-inline-end: 2rem;
}

@media screen and (min-width: 750px) {
  .menu-drawer .icon-arrow {
    margin-inline-end: 3rem;
  }
}

.js .menu-drawer__submenu {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgb(var(--color-background));
  box-shadow: 0 0 0 0.2rem rgb(var(--color-border));
  z-index: 1;
  transform: translateX(100%);
  visibility: hidden;
}

.js .menu-drawer__submenu .menu-drawer__submenu {
  overflow-y: auto;
}

.menu-drawer__topbar {
  display: flex;
  border-bottom: 0.1rem solid rgb(var(--color-border));
}

.no-js .menu-drawer__topbar {
  display: none;
}

.menu-drawer__close-button {
  flex: 0 0 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: rgb(var(--color-link));
}

.menu-drawer__close-button .icon {
  margin-inline-end: 0 !important;
}

.menu-drawer__topbar .menu-drawer__menu-item {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.8rem;
  padding: 1.5rem 2.2rem;
  padding-inline-start: 0;
  border-bottom: 0;
}

.menu-drawer__topbar .menu-drawer__menu-item::before {
  content: '';
  height: 2rem;
  border-inline-start: 0.1rem solid rgb(var(--color-border));
  padding-inline-end: 1.5rem;
}

.menu-drawer__localization {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 1.5rem;
  position: relative;
  padding: 1rem 1.5rem;
}

.menu-drawer__localization::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(var(--color-background));
}

.menu-drawer__localization::after {
  content: '';
  position: absolute;
  z-index: -2;
  right: 1.5rem;
  top: 0;
  left: 1.5rem;
  height: 2rem;
  border-radius: 100%;
  box-shadow: 0 0 4rem rgba(var(--color-foreground), 0.2);
}

.menu-drawer__localization .localization-form {
  padding: 0;
}

.menu-drawer__localization .disclosure {
  position: static;
}

.menu-drawer__localization .disclosure .icon-localization {
  width: 1.8rem;
  height: 1.8rem;
}

.menu-drawer__localization .disclosure__list {
  bottom: 100%;
  width: 100%;
  max-width: 100%;
  border: none;
  border-top: 0.1rem solid rgb(var(--color-border));
}

.menu-drawer__localization .disclosure__item {
  justify-content: center;
}

.menu-drawer__utility-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 0.5rem;
  column-gap: 1.5rem;
  padding: 1.5rem;
  border-top: 0.1rem solid rgb(var(--color-border));
}

@media screen and (min-width: 750px) {
  .menu-drawer__utility-links {
    column-gap: 2rem;
    padding: 2rem;
  }
}

.menu-drawer .list-social:empty {
  display: none;
}

.js details[open] > .menu-drawer [data-animate] {
  opacity: 0;
  transform: translateX(-4rem);
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: var(--duration-long);
}

.js details[open] > .menu-drawer [data-animate-delay-1] {
  transition-delay: var(--duration-default);
}

.js details[open] > .menu-drawer [data-animate-delay-2] {
  transition-delay: calc(var(--duration-default) + 100ms);
}

.js details[open].menu-opening > .menu-drawer [data-animate],
.no-js details[open] > .menu-drawer [data-animate] {
  opacity: 1;
  transform: translateX(0);
}

@keyframes left-to-right {
  0% {
    transform: translateX(0)
  }
  25% {
    opacity: 0;
    transform: translateX(100%)
  }
  50% {
    opacity: 0;
    transform: translateX(-100%)
  }
  75% {
    opacity: 1;
    transform: translateX(0)
  }
}

@keyframes right-to-left {
  0% {
    transform: translateX(0)
  }
  25% {
    opacity: 0;
    transform: translateX(-100%)
  }
  50% {
    opacity: 0;
    transform: translateX(100%)
  }
  75% {
    opacity: 1;
    transform: translateX(0)
  }
}