.slider-mobile-gutter .product-grid {
  margin-top: 0;
  margin-bottom: 0;
}

.product-grid {
  row-gap: 3rem;
}

.product-grid .grid__item {
  padding-bottom: 0;
}

@media screen and (min-width: 750px) {
  .product-grid {
    row-gap: 5.5rem;
  }
}

@media screen and (max-width: 749px) {
  .product-grid .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .product-grid:not(.grid--1-col-mobile) .card-information__button {
    height: 3.4rem;
  }

  .product-grid:not(.grid--1-col-mobile) .card-information__button .button {
    width: 3.4rem;
    min-height: 3.4rem;
  }

  .product-grid:not(.grid--1-col-mobile) .card-information .button--soldout {
    width: 100%;
    min-width: auto;
    min-height: 3.4rem;
  }
}