/* base.css */

[dir=rtl] .link {
  background-position: left bottom, left bottom;
}

@media screen and (hover: hover) {
  [dir=rtl] .link:hover {
    background-position: right bottom, right bottom;
  }
}

[dir=rtl] .link-with-icon .label {
  background-position: left bottom, left bottom;
}

@media screen and (hover: hover) {
  [dir=rtl] .link-with-icon:hover .label {
    background-position: right bottom, right bottom;
  }
}

[dir=rtl] summary .icon-caret {
  right: auto;
  left: 1.5rem;
}

[dir=rtl] .button--cta::before {
  transform-origin: right;
}

[dir=rtl] .button--cta::after {
  transform-origin: left;
  transform: none;
}

@media screen and (hover: hover) {
  [dir=rtl] .button--secondary::after {
    transform-origin: 100% 100%;
    transform: rotate3d(0, 0, 1, -10deg) translate3d(1.2em, 110%, 0);
  }
  
  [dir=rtl] .button--secondary:hover::after {
    transform: rotate(0) translate(0);
  }

  [dir=rtl] .button--cta:hover .label {
    transform: translateX(-0.5rem);
  }
}

[dir=rtl] .button--cta .icon {
  transform: scaleX(-1);
}

[dir=rtl] .button--cta.loading::after {
  left: 0;
  right: auto;
}

[dir=rtl] .select .icon-caret,
[dir=rtl] .customer select + svg {
  right: auto;
  left: 1.5rem;
}

[dir=rtl] .field__button {
  right: auto;
  left: 0;
}

[dir=rtl] .field__button > .icon {
  transform: scaleX(-1);
}

[dir=rtl] .field__button > .icon-search {
  transform: scaleX(1);
}

.no-js[dir=rtl] details[open] .modal__toggle {
  right: auto;
  left: 1.5rem;
}

@media screen and (min-width: 750px) {
  .no-js[dir=rtl] details[open] .modal__toggle {
    right: auto;
    left: calc(100% / 2 - 30rem);
  }
}

[dir=rtl] [data-animate-image] use-animate[data-animate^=fade][animate],
.no-js[dir=rtl] [data-animate-image] use-animate[data-animate^=fade] {
  opacity: 1;
  transform: translateZ(0);
}

[dir=rtl] .header__menu-item .label {
  background-position: left bottom;
}

@media screen and (hover: hover) {
  [dir=rtl] details[open].menu-opening > .header__menu-item .label,
  .no-js[dir=rtl] details[open] > .header__menu-item .label,
  [dir=rtl] .header__menu-item:hover .label {
    background-position: right bottom, right bottom;
  }
}

[dir=rtl] .header__active-menu-item .label,
[dir=rtl] .list-menu__item--active .label {
  background-position: right bottom, right bottom;
}

/* Header cart drawer */

[dir=rtl] drawer-close-button.header__icon--summary,
[dir=rtl] drawer-close-button.header__icon--menu {
  right: auto;
  left: 1rem;
}

[dir=rtl] drawer-close-button.header__icon--menu {
  left: auto;
  right: 1rem;
}

/* component-card.css */

[dir=rtl] .card .icon-arrow {
  transform: scaleX(-1);
}

[dir=rtl] .card__badge {
  left: auto;
  right: 1rem;
}

@media screen and (min-width: 990px) {
  [dir=rtl] .card-information__text {
    background-position: left bottom;
  }

  [dir=rtl] .card-wrapper:hover .card-information__text {
    background-position: right bottom;
  }
}

/* component-cart-drawer.css */

@media screen and (min-width: 750px) {
  [dir=rtl] .mini-cart--open #MainContent,
  [dir=rtl] .mini-cart--open .shopify-section-footer,
  [dir=rtl] .mini-cart--opening #MainContent,
  [dir=rtl] .mini-cart--opening .shopify-section-footer {
    transform: translateX(4rem);
  }
}

[dir=rtl] .cart-drawer {
  transform: translateX(-100%);
  right: auto;
  left: 0;
}

[dir=rtl] .mini-cart__navigation .loading-overlay {
  right: auto;
  left: -0.5rem;
}

[dir=rtl] .mini-cart__navigation .delete-product {
  right: auto;
  left: -0.5rem;
}

[dir=rtl] .mini-cart__action .close {
  left: 1rem;
  right: auto;
}

[dir=rtl] .cart-drawer [data-animate] {
  transform: translateX(-4rem);
}

/* component-cart-recommendations.css */

[dir=rtl] .cart-recommendations .title {
  left: auto;
  right: 1rem;
}

@media screen and (min-width: 750px) {
  [dir=rtl] .cart-recommendations {
    right: auto;
    left: 100%;
  }
}

/* component-facets.css */

[dir=rtl] .facet-checkbox .label::before {
  transform: translateX(0.5rem);
}

[dir=rtl] .facets__summary .icon-plus {
  right: auto;
  left: 1.5rem;
}

[dir=rtl] .facet-checkbox .label::after {
  left: 0;
  right: auto;
}

[dir=rtl] .facet-checkbox input[type=radio]:checked ~ .label::after {
  right: auto;
  left: 0;
}

@media screen and (hover: hover) {
  [dir=rtl] .facet-checkbox:hover .label::after {
    right: 0;
    left: auto;
  }
}

[dir=rtl] .facets__price .fields {
  display: table;
}

[dir=rtl] a.active-facets__button--dark::after {
  left: auto;
  right: 100%;
}

[dir=rtl] .mobile-facets {
  transform: translateX(-100%);
}

[dir=rtl] .mobile-facets__close {
  left: 1rem;
  right: auto;
}

[dir=rtl] .mobile-facets__close-button .icon-arrow {
  transform: rotate(0deg);
}

[dir=rtl] .mobile-facets__arrow .icon {
  transform: rotate(180deg);
}

.js[dir=rtl] .mobile-facets__submenu {
  transform: translateX(-100%);
}

.js[dir=rtl] .mobile-facets__sort .select .icon-caret {
  right: auto;
  left: 0;
}

[dir=rtl] .price-range + div {
  display: none;
}

[dir=rtl] .price-range__prefix {
  display: none;
}

[dir=rtl] .price-range__track-wrapper {
  display: none;
}

[dir=rtl] .price-range__thumbs.is-lower {
  left: auto;
  right: var(--progress-lower);
}

[dir=rtl] .price-range__thumbs.is-upper {
  left: auto;
  right: var(--progress-upper);
}

[dir=rtl] .price-range__output {
  transform: translateX(calc(50% - 0.8rem));
}

[dir=rtl] .price-range__thumbs.is-lower + .price-range__output {
  left: auto;
  right: var(--progress-lower);
}

[dir=rtl] .price-range__thumbs.is-upper + .price-range__output {
  left: auto;
  right: var(--progress-upper);
}

[dir=rtl] .list-view__item .icon + i {
  left: auto;
  right: 100%;
}

@media screen and (min-width: 750px) {
  [dir=rtl] .facets-container-drawer .mobile-facets {
    right: auto;
    left: 0;
  }
}

[dir=rtl] .facets__list .list-menu__item--active {
  background-position: right bottom, right bottom;
}

/* component-gift-wrapping.css */

[dir=rtl] .gift-wrapping__icon {
  left: auto;
  right: 0;
}

[dir=rtl] .gift-wrapping .loading-overlay {
  left: auto;
  right: 0;
}

/* component-list-menu.css */

@media screen and (min-width: 750px) {
  [dir=rtl] .menu-drawer--open #MainContent,
  [dir=rtl] .menu-drawer--open .shopify-section-footer,
  [dir=rtl] .menu-drawer--opening #MainContent,
  [dir=rtl] .menu-drawer--opening .shopify-section-footer {
    transform: translateX(4rem);
  }
}

[dir=rtl] .list-menu-drawer {
  transform: translateX(-100%);
  left: 0;
  right: auto;
}

@media screen and (min-height: 480px) {
  [dir=rtl] .hover-collection__title {
    background-position: left bottom;
  }

  @media screen and (hover: hover) {
    [dir=rtl] .hover-collection:hover .hover-collection__title {
      background-position: right bottom;
    }
  }
}

[dir=rtl] .menu-drawer--opening.menu-drawer--closing details[open].menu-closing > .list-menu-drawer .header__submenu {
  transform: translateX(3rem);
}

.js[dir=rtl] details > .list-menu-drawer [data-animate] {
  transform: translateX(-3rem);
}

/* component-menu-drawer.css */

@media screen and (min-width: 750px) {
  [dir=rtl] .menu-mobile--open #MainContent,
  [dir=rtl] .menu-mobile--open .shopify-section-footer,
  [dir=rtl] .menu-mobile--opening #MainContent,
  [dir=rtl] .menu-mobile--opening .shopify-section-footer {
    transform: translateX(-4rem);
  }
}

[dir=rtl] .menu-drawer {
  transform: translateX(100%);
  left: auto;
  right: 0;
}

[dir=rtl] .menu-drawer .icon-arrow {
  transform: rotate(180deg);
  animation: none !important;
}

.js[dir=rtl] details[open] > .menu-drawer [data-animate] {
  transform: translateX(4rem);
}

[dir=rtl] .is-active > .header__menu-item .label {
  background-position: right bottom, right bottom;
}

@media screen and (hover: hover) {
  [dir=rtl] .mega-menu__item-link:hover .header__menu-item .label {
    background-position: right bottom, right bottom;
  }
}

/* component-menu-dropdown.css */

@media screen and (hover: hover) {
  [dir=rtl] .list-menu-dropdown .is-active > .header__menu-item .icon-caret,
  [dir=rtl] .list-menu-dropdown .header__menu-item:hover .icon-caret {
    transform: rotate(90deg);
  }
}

[dir=rtl] .list-menu-dropdown .list-menu-dropdown {
  left: auto;
  right: 100%;
}

/* component-pickup-availability.css */

@media screen and (min-width: 750px) {
  [dir=rtl] .pickup-availability--open #MainContent,
  [dir=rtl] .pickup-availability--open .shopify-section-footer {
    transform: translateX(4rem);
  }
}

[dir=rtl] pickup-availability-drawer {
  transform: translateX(-100%);
  right: auto;
  left: 0;
}

[dir=rtl] .pickup-availability-drawer-button {
  right: auto;
  left: -1.2rem;
}

/* component-predictive-search.css */

[dir=rtl] .predictive-search__item-heading {
  background-position: left bottom, left bottom;
}

@media screen and (hover: hover) {
  [dir=rtl] .predictive-search__item--link:hover .predictive-search__item-heading {
    background-position: right bottom, right bottom;
  }
}

/* component-product-inventory.css */

[dir=rtl] .product__inventory progress-bar::after {
  left: auto;
  right: 0;
}

/* component-product-review.css */

[dir=rtl] #shopify-product-reviews .spr-summary-actions-newreview::after {
  transform-origin: 100% 100%;
  transform: rotate3d(0, 0, 1, -10deg) translate3d(1.2em, 110%, 0);
}

[dir=rtl] #shopify-product-reviews .spr-review-reportreview::after {
  right: auto;
  left: 0;
}

@media screen and (hover: hover) {
  [dir=rtl] #shopify-product-reviews .spr-review-reportreview:hover::after {
    left: auto;
    right: 0;
  }
}

/* component-quick-view.css */

[dir=rtl] .quick-view__summary {
  right: auto;
  left: 1.5rem;
}

[dir=rtl] .quick-view__close {
  right: auto;
  left: 2rem;
}

@media screen and (min-width: 750px) {
  [dir=rtl] .quick-view__content::before {
    left: auto;
    right: 0;
  }

  [dir=rtl] .quick-view__content::after {
    right: auto;
    left: 0;
  }
}

/* component-rte.css */

[dir=rtl] .rte a {
  background-position: left bottom, left bottom;
}

@media screen and (hover: hover) {
  [dir=rtl] .rte a:hover {
    background-position: right bottom, right bottom;
  }
}

/* component-share-button.css */

[dir=rtl] .share-button__fallback {
  left: auto;
  right: 0;
}

[dir=rtl] .share-button__close {
  right: auto;
  left: 1rem;
}

/* component-slider.css */

[dir=rtl] .slider-mobile-gutter .slider-buttons {
  right: auto;
  left: 0;
}

[dir=rtl] .slider-button {
  transform: scaleX(-1);
  text-align: end;
}

[dir=rtl] .slider-button--next {
  text-align: start;
}

/* disclosure.css */

[dir=rtl] .disclosure__button[aria-expanded=true] .label {
  background-position: right bottom, right bottom;
}

/* section-announcement-bar.css */

[dir=rtl] .announcement__button {
  transform: scaleX(-1);
}

@media screen and (min-width: 750px) {
  [dir=rtl] announcement-bar:not([data-layout=carousel])[data-direction=left].marquee .announcement-slider {
    animation-name: rtl-marquee-left;
  }

  [dir=rtl] announcement-bar:not([data-layout=carousel])[data-direction=right].marquee .announcement-slider {
    animation-name: rtl-marquee-right;
  }
}

@media screen and (max-width: 749px) {
  [dir=rtl] announcement-bar[data-mobile-layout=marquee][data-direction=left] .announcement-slider {
    animation-name: rtl-marquee-left;
  }

  [dir=rtl] announcement-bar[data-mobile-layout=marquee][data-direction=right] .announcement-slider {
    animation-name: rtl-marquee-right;
  }
}

@keyframes rtl-marquee-left {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes rtl-marquee-right {
  0% {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

/* section-bundle-producuts.css */

@media screen and (min-width: 990px) {
  [dir=rtl] .bundle-products .product-title {
    background-position: left bottom;
  }

  [dir=rtl] .bundle-products .product-title:hover {
    background-position: right bottom;
  }
}

/* section-collage.css */

[dir=rtl] .collage-video__modal-toggle {
  right: auto;
  left: 0.5rem;
}

@media screen and (min-width: 750px) {
  [dir=rtl] .collage-video__modal-toggle {
    right: auto;
    left: 4.8rem;
  }
}

@media screen and (min-width: 990px) {
  [dir=rtl] .collage-video__modal-toggle {
    right: auto;
    left: 4.3rem;
  }
}

/* section-collection-list.css */

@media screen and (hover: hover) {
  [dir=rtl] .collection-list__item .card-information__text {
    background-position: left bottom, left bottom;
  }

  [dir=rtl] .collection-list__item .card:hover .card-information__text {
    background-position: right bottom, right bottom;
  }
}

/* section-gallery.css */

@media screen and (hover: hover) {
  [dir=rtl] .gallery__card .full-unstyled-link ~ .gallery__overlay .overlay-text__heading {
    background-position: left bottom, left bottom;
  }
  
  [dir=rtl] .gallery__card:hover .full-unstyled-link ~ .gallery__overlay .overlay-text__heading {
    background-position: right bottom, right bottom;
  }
}

/* section-footer.css */

@media screen and (hover: hover) {
  [dir=rtl] .copyright__content a:hover {
    background-position: right bottom, right bottom;
  }
}

/* section-images-with-text.css */

[dir=rtl] .images-with-text__image:nth-child(2) {
  right: auto;
  left: -43%;
}

[dir=rtl] .images-with-text__image:nth-child(3) {
  left: auto;
  right: -57%;
}

[dir=rtl] .images-with-text__image:nth-child(4) {
  left: auto;
  right: -33%;
}

[dir=rtl] [data-animate-image] .images-with-text__image:nth-child(2) {
  transform: translate3d(5rem, 5rem, 0);
}

[dir=rtl] [data-animate-image] .images-with-text__image:nth-child(3) {
  transform: translate3d(-5rem, 5rem, 0);
}

[dir=rtl] [data-animate-image] .images-with-text__image:nth-child(4) {
  transform: translate3d(-5rem, -5rem, 0);
}

[dir=rtl] [data-animate-image] .images-with-text__image[animate],
.no-js[dir=rtl] [data-animate-image] .images-with-text__image {
  opacity: 1;
  transform: translateZ(0);
}

/* section-main-blog.css */

[dir=rtl] .blog-filter .is-selected {
  background-position: right bottom, right bottom;
}

/* section-main-product.css */

[dir=rtl] .product__media-icon {
  right: auto;
  left: 1rem;
}

@media screen and (min-width: 750px) {
  [dir=rtl] .product__thumbnails-wrapper {
    right: auto;
    left: -2.3rem;
  }

  [dir=rtl] .product__thumbnails .deferred-media__poster-button {
    right: auto;
    left: 0.5rem;
  }

  [dir=rtl] .product__media-icon {
    left: 1.5rem;
  }
}

@media screen and (min-width: 990px) {
  [dir=rtl] .product__thumbnails-wrapper {
    right: auto;
    left: -3rem;
  }
}

[dir=rtl] .product-link__button .icon-arrow-right {
  transform: rotate(180deg);
}

[dir=rtl] .product-link__button .icon-caret {
  transform: rotate(90deg);
  right: auto;
  left: 1.5rem;
}

[dir=rtl] .product-media-modal__toggle {
  right: auto;
  left: 2rem;
}

@media screen and (min-width: 750px) {
  [dir=rtl] .product-media-modal__toggle {
    right: auto;
    left: 4.8rem;
  }
}

@media screen and (min-width: 990px) {
  [dir=rtl] .product-media-modal__toggle {
    right: auto;
    left: 4.3rem;
  }
}

[dir=rtl] .product-popup-modal__toggle {
  right: auto;
  left: 2rem;
}

[dir=rtl] .thumbnail-slider .slider-button--prev {
  transform: translateX(100%);
}

[dir=rtl] .thumbnail-slider .slider-button--prev .icon {
  transform: rotate(-90deg);
}

[dir=rtl] .thumbnail-slider .slider-button--next {
  transform: translateX(-100%);
}

[dir=rtl] .thumbnail-slider .slider-button--next .icon {
  transform: rotate(90deg);
}

[dir=rtl] .thumbnail-list__item .deferred-media__poster-button {
  right: auto;
  left: 0.5rem;
}

/* section-popup.css */

[dir=rtl] .popup-close {
  right: auto;
  left: 1rem;
}

@media screen and (min-width: 750px) {
  [dir=rtl] .popup-image--right .popup__image-wrapper {
    left: 0;
    right: auto;
  }

  [dir=rtl] .popup-image--left .popup__image-wrapper {
    right: 0;
    left: auto;
  }
}

[dir=rtl] .popup-floating--right {
  left: 0;
}

[dir=rtl] .popup-floating--left {
  right: 0;
}

[dir=rtl] .popup-floating--right .popup-open {
  transform: rotate(-180deg);
}

/* section-product-details.css */

[dir=rtl] .product-details .accordion summary .icon {
  right: auto;
  left: 1.2rem;
}

/* section-reveal-banner.css */

[dir=rtl] .banner-video__modal-toggle {
  right: auto;
  left: 0.5rem;
}

@media screen and (min-width: 750px) {
  [dir=rtl] .banner-video__modal-toggle {
    right: auto;
    left: 4.8rem;
  }

  [dir=rtl] .banner__slide {
    right: auto;
    left: 0;
    transform: translateX(-100%);
  }
}

@media screen and (min-width: 990px) {
  [dir=rtl] .banner-video__modal-toggle {
    right: auto;
    left: 4.3rem;
  }
}

/* section-scrolling-promotion.css */

[dir=rtl] .scrolling-promotion--left .promotion--animated {
  animation-name: rtl-scrolling-left;
}

[dir=rtl] .scrolling-promotion--right .promotion--animated {
  animation-name: rtl-scrolling-right;
}

@keyframes rtl-scrolling-left {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes rtl-scrolling-right {
  0% {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

/* section-slideshow.css */

@media screen and (min-width: 750px) {
  [dir=rtl] .slideshow__content {
    left: auto;
    right: 0;
  }
  
  [dir=rtl] .slideshow__content .flickity-button::after {
    transform-origin: 100% 100%;
    transform: rotate3d(0, 0, 1, -10deg) translate3d(1.2em, 110%, 0);
  }

  [dir=rtl] .slideshow__content .flickity-button.previous {
    left: auto;
    right: 0;
  }

  [dir=rtl] .slideshow__content .flickity-button.previous svg {
    transform: rotate(180deg) scaleX(-1);
  }
  
  [dir=rtl] .slideshow__content .flickity-button.next {
    left: auto;
    right: 5rem;
  }

  [dir=rtl] .slideshow__content .flickity-button.next svg {
    transform: none;
  }
}

.js[dir=rtl] .slideshow__box [data-animate] {
  transform: translateX(-6rem);
}

.js[dir=rtl] .is-previous .slideshow__box [data-animate] {
  transform: translateX(6rem);
}

/* section-tab-collage.css */

[dir=rtl] .tab-collage-video__modal-toggle {
  right: auto;
  left: 0.5rem;
}

@media screen and (min-width: 750px) {
  [dir=rtl] .tab-collage-video__modal-toggle {
    right: auto;
    left: 4.8rem;
  }
}

@media screen and (min-width: 990px) {
  [dir=rtl] .tab-collage-video__modal-toggle {
    right: auto;
    left: 4.3rem;
  }
}

/* section-testimonials.css */

@media screen and (min-width: 750px) {
  [dir=rtl] .testimonials .flickity-button.previous {
    left: auto;
    right: 0;
  }

  [dir=rtl] .testimonials .flickity-button.next {
    right: auto;
    left: 0;
  }
}
