.multicolumn .button {
  margin-top: 1.5rem;
}

.multicolumn-list {
  margin-bottom: 0;
  row-gap: 3rem;
}

@media screen and (min-width: 750px) {
  .multicolumn-list {
    row-gap: 5rem;
  }
}

.multicolumn-list__item:only-child {
  max-width: 72rem;
}

.multicolumn-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.multicolumn-list .multicolumn-card__title {
  margin: 0;
}

.multicolumn-card__info > :nth-child(2) {
  margin-top: 1rem;
}

.multicolumn-list__item.center .media--adapt,
.multicolumn-list__item .media--adapt img {
  width: auto;
}

.multicolumn-list__item.center .media--adapt img {
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 749px) {
  .multicolumn-list__item {
    max-width: 100%;
    margin: 0 0 1rem;
  }
}

@media screen and (min-width: 750px) {
  .multicolumn-list.slider,
  .multicolumn-list.grid--4-col-desktop {
    padding: 0;
  }

  .multicolumn-list__item,
  .grid--4-col-desktop .multicolumn-list__item {
    padding-bottom: 0;
  }

  .grid--2-col-tablet .multicolumn-list__item {
    max-width: 50%;
  }
}

@media screen and (min-width: 990px) {
  .grid--2-col-tablet.grid--4-col-desktop .multicolumn-list__item {
    max-width: 25%;
  }
}

@media screen and (min-width: 990px) {
  .multicolumn .grid--6-col-desktop .grid__item {
    max-width: calc(16.66% - var(--grid-horizontal-spacing) * 5 / 6);
  }

  .multicolumn .grid--5-col-desktop .grid__item {
    max-width: calc(20% - var(--grid-horizontal-spacing) * 4 / 5);
  }

  .multicolumn .grid--4-col-desktop .grid__item {
    max-width: calc(25% - var(--grid-horizontal-spacing) * 3 / 4);
  }

  .multicolumn .grid--3-col-desktop .grid__item {
    max-width: calc(33.33% - var(--grid-horizontal-spacing) * 2 / 3);
  }

  .multicolumn .grid--2-col-desktop .grid__item {
    max-width: calc(50% - var(--grid-horizontal-spacing) / 2);
  }
}

.multicolumn-card__image-wrapper--third-width {
  width: 33%;
}

.multicolumn-card__image-wrapper--half-width {
  width: 50%;
}

.multicolumn-list__item.center
  .multicolumn-card__image-wrapper:not(.multicolumn-card__image-wrapper--full-width),
.multicolumn-list__item:only-child {
  margin-left: auto;
  margin-right: auto;
}

.multicolumn-list__item.right
  .multicolumn-card__image-wrapper:not(.multicolumn-card__image-wrapper--full-width) {
    margin-left: auto;
    margin-right: 0;
  }