.promo-popup--blur .popup-overlay {
  backdrop-filter: blur(0.6rem);
}

age-verifier.hidden {
  display: block !important;
}

.promo-popup {
  display: none;
  position: fixed;
  z-index: 10000000;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  pointer-events: none;
  --popup-max-width: 100vw;
  --popup-max-height: 100vh;
}

.promo-popup.is-active {
  display: flex;
  animation: fade-in var(--duration-long) ease;
}

.promo-popup.is-closing {
  animation: fade-out var(--duration-long) ease;
}

.popup-wrapper {
  pointer-events: visible;
  z-index: 30;
  position: relative;
  display: none;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  width: 100%;
  max-width: var(--popup-max-width);
  max-height: var(--popup-max-height);
}

@media screen and (min-width: 750px) {
  .popup-wrapper {
    width: auto;
  }
}

.promo-popup.is-active .popup-wrapper {
  display: flex;
  animation: popup-in var(--duration-long) ease;
}

.promo-popup.is-closing .popup-wrapper {
  animation: popup-out var(--duration-long) ease;
}

@keyframes popup-in {
  0% {
    transform: scale(0.93);
  }
  to {
    transform: scale(1);
  }
}

@keyframes popup-out {
  0% {
    transform: scale(1);
  }
  to {
    transform: scale(0.93);
  }
}

@media screen and (min-width: 750px) {
  .promo-popup--open .transition-content,
  .promo-popup--open .announcement-bar,
  .promo-popup--open .header-wrapper {
    padding-inline-end: var(--scrollbar-width);
  }

  .promo-popup {
    padding: 5rem;
    --popup-max-width: calc(100vw - 10rem);
    --popup-max-height: calc(100vh - 10rem);
  }

  .promo-popup[data-position=center] .popup-wrapper {
    align-self: center;
  }
}

.promo-popup--open {
  overflow: hidden;
}

.promo-popup .popup-overlay {
  pointer-events: visible;
  display: block;
  position: absolute;
  z-index: 25;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: default;
  background-color: rgba(var(--color-overlay), var(--color-overlay-opacity));
}

.popup {
  height: 100%;
  display: flex;
  cursor: initial;
  color: rgb(var(--color-foreground));
  background: var(--gradient-background);
  background-color: rgb(var(--color-background));
  box-shadow: 0 0 4rem rgba(var(--color-foreground), 0.2);
  max-width: 100%;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

@media screen and (min-width: 750px) {
  .popup {
    width: min(var(--popup-width), var(--popup-max-width));
  }
}

.popup::-webkit-scrollbar {
  appearance: none;
  width: 0.9rem;
  background-clip: padding-box;
  border: 0.3rem solid transparent;
  border-radius: 1.6rem;
  background-color: rgba(var(--color-border), 0.3);
}

.popup::-webkit-scrollbar-thumb {
  border: 0.3rem solid transparent;
  background-clip: padding-box;
  border-radius: 1.6rem;
  background-color: rgb(var(--color-border));
}

.popup.center .field__input {
  text-align: center;
}

.popup.right .field__input {
  text-align: end;
}

.popup__image-wrapper {
  display: none;
}

@media screen and (min-width: 750px) {
  .popup-image--top {
    flex-direction: column;
  }

  .popup-image--bottom {
    flex-direction: column-reverse;
  }

  .popup-image--left,
  .popup-image--right {
    --image-width: 26rem;
    width: calc(min(var(--popup-width), var(--popup-max-width)) - var(--image-width));
    transition: width var(--duration-long) ease;
  }

  .popup__content-wrapper {
    transition: padding var(--duration-long) ease;
  }

  .popup__image-wrapper {
    display: block;
    flex: 0 0 auto;
  }
  
  .popup__image {
    display: block;
    width: 100%;
    height: auto;
  }

  [data-lazy-image] .popup-image--left .popup__image-wrapper.loading,
  [data-lazy-image] .popup-image--right .popup__image-wrapper.loading {
    position: absolute;
  }

  .popup-image--left .popup__image-wrapper,
  .popup-image--right .popup__image-wrapper {
    width: var(--image-width);
    height: 100%;
    position: absolute;
    top: 0;
  }

  .popup-image--left .popup__image-wrapper {
    left: 0;
    right: auto;
  }

  .popup-image--right .popup__image-wrapper {
    right: 0;
    left: auto;
  }

  .popup-image--left .popup__image,
  .popup-image--right .popup__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .promo-popup.show-image .popup-image--left,
  .promo-popup.show-image .popup-image--right {
    width: min(var(--popup-width), var(--popup-max-width));
  }

  .promo-popup.show-image .popup-image--left .popup__content-wrapper {
    padding-inline-start: var(--image-width);
  }

  .promo-popup.show-image .popup-image--right .popup__content-wrapper {
    padding-inline-end: var(--image-width);
  }
}

@media screen and (min-width: 990px) {
  .popup-image--left,
  .popup-image--right {
    --image-width: 36rem;
  }
}

.popup__content-wrapper {
  flex: 1 1 auto;
  position: relative;
  z-index: 1;
}

.popup__content {
  padding: 2.5rem 1.5rem;
}

.popup__content * {
  overflow-wrap: break-word;
}

.popup__content > * {
  margin-top: 0;
  margin-bottom: 0;
}

.popup__content > * + * {
  margin-top: 2rem;
}

.popup__content > * + a {
  margin-top: 3rem;
}

.popup__content form-state {
  display: block;
}

@media screen and (min-width: 750px) {
  .popup__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 26rem;
    max-height: 100%;
    padding: calc(var(--popup-padding) * 0.75);
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: thin;
  }

  .popup__content::-webkit-scrollbar {
    appearance: none;
    width: 0.9rem;
    background-clip: padding-box;
    border: 0.3rem solid transparent;
    border-radius: 1.6rem;
    background-color: rgba(var(--color-border), 0.3);
  }
  
  .popup__content::-webkit-scrollbar-thumb {
    border: 0.3rem solid transparent;
    background-clip: padding-box;
    border-radius: 1.6rem;
    background-color: rgb(var(--color-border));
  }

  .popup-image--left .popup__content,
  .popup-image--right .popup__content {
    background: var(--gradient-background);
    background-color: rgb(var(--color-background));
    max-width: calc(min(var(--popup-width), var(--popup-max-width)) - var(--image-width));
  }
}

@media screen and (min-width: 990px) {
  .popup__content {
    padding: var(--popup-padding);
  }
}

.popup__content > .popup__subheading + * {
  margin-top: 1rem;
}

.popup__subheading {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color:rgba(var(--color-foreground), 0.55);
}

.popup__text {
  max-width: 72.6rem;
}

.popup__text--colored {
  color: rgba(var(--color-foreground), 0.55);
}

.popup__text--colored.rte a {
  color: rgb(var(--color-link));
  background-image: linear-gradient(to top, rgb(var(--color-border)) 0px, rgb(var(--color-border)) 0px), linear-gradient(to top, transparent 0px, transparent 0px);
}

.popup.center .popup__buttons {
  justify-content: center;
}

.popup.right .popup__buttons {
  justify-content: flex-end;
}

.popup__buttons {
  display: flex;
  column-gap: 1rem;
  margin-top: 3rem;
}

.popup__buttons .button {
  min-width: auto;
}
